doctype html
html(lang="en")
head

  //- <!-- Basic Page Needs
  //- –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  meta(charset="utf-8")
  title Your page title here :)
  meta(name="description" content="")
  meta(name="author" content="")

  //- <!-- Mobile Specific Metas
  //- –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  meta(name="viewport" content="width=device-width, initial-scale=1")

  //- <!-- FONT
  //- –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  link(href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css")
  link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')

  //- <!-- CSS
  //- –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  link(rel="stylesheet" href="assets/css/normalize.css")
  link(rel="stylesheet" href="assets/css/skeleton.css")
  link(rel="stylesheet" href="assets/css/main.css")

  //- <!-- Favicon
  //- –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  link(rel="icon" type="image/png" href="assets/images/favicon.png")


body

  //- <!-- Primary Page Layout
  #container
    .logo
      img(src="assets/icons/Logo.svg" alt="logo")
    .navigation
      ul
        a(href="") About
        a(href="") Booking
        a(href="") Education 
        a(href="") Employment
  
  

    
        


  script(src="https://code.jquery.com/jquery-2.1.4.min.js")
  script(type="text/javascript" src="assets/js/script.js")
//- <!-- End Document
//-   –––––––––––––––––––––––––––––––––––––––––––––––––– -->

